* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
}

.moviePage {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.movieContainer {
  height: 40%;
  margin-top: 20px;
  display: flex;
  padding: 2% 1%;
  flex-direction: column;
  align-items: center;
}

.movieContainer h1 {
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchButton {
  padding: 15px 20px;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  background-color: rgb(202, 81, 0);
  transition: all 0.2s ease-in-out;
  color: #fff;
}

.searchButton:hover {
  background-color: rgb(168, 67, 0);
}

#name,
#year {
  padding: 20px 40px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}

#name::placeholder,
#year::placeholder {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}
